{% extends 'layout.html' %}

{% load static %}

{% block title %}
À propos de l'ENISo
{% endblock %}

{% block body %}

<div class="wrapper bgded overlay " style="background-image:url('{% static 'app_users/images/demo/crowd1.jpeg' %}');">
    <div id="breadcrumb" class="hoc clear"> 
      <h6 class="heading">À propos de l'ENISo</h6>
    </div>

</div>

<div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body -->
      <!-- ################################################################################################ -->
      <div class="content"> 
        <!-- ################################################################################################ -->
        <h1>Mot du directeur: Pr.Ali Douik</h1>
        <img style="height: 125px; width:125px;" class="imgr borderedbox inspace-5" src="{% static 'app_users/images/demo/directeur.png' %}" alt="">
        <p>L’École Nationale d’Ingénieurs de Sousse (ENISo), sise au technopôle de Sousse, est une école pluridisciplinaire qui, fondée à peine il y 15 ans, s’est faite une bonne réputation à l’échelle nationale et internationale. Elle a su graver une place dans son environnement socio-économique grâce à des Ingénieurs talentueux et de haute qualité, et ce malgré la concurrence des ressortissants des différentes écoles et la situation économique du pays. Nos formations d’ingénieurs en Informatique appliquée, en Electronique industrielle, et en Mécatronique favorisent l’insertion dans le monde professionnel à travers une innovation pédagogique et professionnelle, et une maîtrise des outils opérationnels techniques et scientifiques.        </p>
        <p>Armés d’un esprit critique et d’un savoir-faire intelligent, nos élèves ingénieurs et nos étudiants chercheurs suivent des formations alliant les composantes scientifiques et techniques complétées par des apprentissages par projets et une valorisation des projets innovants pouvant aller jusqu’à leur incubation, afin de répondre aux défis de la transition éducative, industrielle et numérique.</p>
        <img class="imgl borderedbox inspace-5" src="../images/demo/imgl.gif" alt="">
        <p>En effet, l’ENISo sera dotée bientôt d’un incubateur (en phase finale de sa construction) qui vient compléter le centre de Carrière et de Certification des Compétences (4C) destiné à la certification dans les langues et les soft skills donnant lieu à un boost à la formation de haut niveau assurée par l’ENISo et un bonus pour les jeunes diplômés bien accompagnés pour trouver leur place d’ingénieur, d’ingénieur entrepreneur et d’ingénieur citoyen.</p>
        <p>Par ailleurs, l’ENISo s’est engagée activement dans un processus d’accréditation des différents cursus de formations d’Ingénieurs qu’elle assure et ce en adéquation avec les attentes de la CTI. L’objectif étant de s’inscrire dans une perspective futuriste, et aboutir dans le proche avenir à la certification ISO de tous ces services.</p>
        <h1>L'ENISo en chiffres</h1>
        <p>Depuis sa création, l’ENISo n’a cessé de croitre en effectif étudiant, enseignant, administratifs, surface, bâtiments, filières, programmes d’études, laboratoires de recherche, incubateur, centre de carrière, espace innovation, etc.</p>
        <h6>Effectif élèves ingénieurs</h6>
        <p>En 2005, l’ENISo a démarré avec 150 élèves ingénieurs. Leur nombre n’a cessé d’augmenter pour atteindre un pic de 945 élèves en 2012, résultat de la massification. Ce nombre s’est relativement stabilisé jusqu’à 2016 pour se réduire à 564 élèves en 2019 avec un équilibre entre filles et garçons.        </p>
        <h1>Table(s)</h1>
        <div class="scrollable">
          <table>
            <thead>
              <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">Value 1</a></td>
                <td>Value 2</td>
                <td>Value 3</td>
                <td>Value 4</td>
              </tr>
              <tr>
                <td>Value 5</td>
                <td>Value 6</td>
                <td>Value 7</td>
                <td><a href="#">Value 8</a></td>
              </tr>
              <tr>
                <td>Value 9</td>
                <td>Value 10</td>
                <td>Value 11</td>
                <td>Value 12</td>
              </tr>
              <tr>
                <td>Value 13</td>
                <td><a href="#">Value 14</a></td>
                <td>Value 15</td>
                <td>Value 16</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="comments">
          <h2>Comments</h2>
          <ul>
            <li>
              <article>
                <header>
                  <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                  <address>
                  By <a href="#">A Name</a>
                  </address>
                  <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
                </header>
                <div class="comcont">
                  <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
                </div>
              </article>
            </li>
            <li>
              <article>
                <header>
                  <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                  <address>
                  By <a href="#">A Name</a>
                  </address>
                  <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
                </header>
                <div class="comcont">
                  <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
                </div>
              </article>
            </li>
            <li>
              <article>
                <header>
                  <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                  <address>
                  By <a href="#">A Name</a>
                  </address>
                  <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
                </header>
                <div class="comcont">
                  <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
                </div>
              </article>
            </li>
          </ul>
          <h2>Write A Comment</h2>
          <form action="#" method="post">
            <div class="one_third first">
              <label for="name">Name <span>*</span></label>
              <input type="text" name="name" id="name" value="" size="22" required="">
            </div>
            <div class="one_third">
              <label for="email">Mail <span>*</span></label>
              <input type="email" name="email" id="email" value="" size="22" required="">
            </div>
            <div class="one_third">
              <label for="url">Website</label>
              <input type="url" name="url" id="url" value="" size="22">
            </div>
            <div class="block clear">
              <label for="comment">Your Comment</label>
              <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
            </div>
            <div>
              <input type="submit" name="submit" value="Submit Form">
              &nbsp;
              <input type="reset" name="reset" value="Reset Form">
            </div>
          </form>
        </div>
        <!-- ################################################################################################ -->
      </div>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>



{% endblock %}