{% extends 'layout.html' %}

{% load static %}

{% block title %}
École nationale des ingénieurs de Sousse
{% endblock %}

{% block body %}

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('{% static 'app_users/images/demo/backgrounds/Students.jpg' %}');">
  
  
  
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading">On vous prépare<br>
        pour le future</h3>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="#">Nos clubs</a></li>
          <li><a class="btn inverse" href="#">Formations des ingénieurs</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <article class="group">
      <div class="one_half first">
        <h6 class="heading underline font-x2">À propos</h6>
        <p>L'École Nationale d'Ingénieurs de Sousse ou ENISo est une école d'ingénieurs tunisienne qui dépend de l'Université de Sousse. Elle vise à répondre, jour après jour, à un besoin national croissant d'ingénieurs spécialisés dans les industries de haute technologie. Avec ses filières, ses masters recherche et son master professionnel, elle forme des ingénieurs en génie informatique appliqué, en génie des télécommunications embarquées, en mécatronique, en génie mécanique de production et en génie électronique industriel.</p>
        <p class="btmspace-30">Fondée en juillet 2005, l'ENISo est d'abord hébergée dans le quartier Bab Jedid de Sousse, avant de s'installer en septembre 2011 dans le Technopole de Sousse, à proximité de la pépinière d'entreprises. </p>
        <footer><a class="btn" href="{% url 'about' %}">Lire plus</a></footer>
      </div>
      <div class="one_half"><a class="imgover" href="#"><img class="borderedbox inspace-10" src="{% static 'app_users/images/demo/Student.png' %}" alt=""></a></div>
    </article>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay " style="background-image:url('{% static 'app_users/images/demo/eniso-bg-shot.jpeg' %}');">
  <div id="shout" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading font-x2">N'hésitez pas à nous rejoindre</h3>
      <p>Adipiscing dignissim non lectus pellentesque tellus nisi imperdiet at pretium ut iaculis tempor ligula nulla facilisi aliquam venenatis leo et orci sed mauris fusce aliquam suspendisse potenti sed tempus tempor.</p>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section id="services" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">Nos Filières</h6>
    </div>
    <ul class="nospace group">
      <li class="one_third">
        <article><a href="#"><i class="fab fa-fort-awesome"></i></a>
          <h6 class="heading">Informatique Appliquée</h6>
          <p>Adossée au département Informatique Industrielle, la filière Informatique Appliquée (IA) dispense une formation polyvalente axée autour de l’informatique, l’automatique, la robotique et les communications.</p>
          <footer><a href="#"><i class="fas fa-arrow-right"></i></a></footer>
        </article>
      </li>
      <li class="one_third" >
        <article style="height: 272px;"><a href="#"><i class="fab fa-deviantart" ></i></a>
          <h6 class="heading">Génie Mécatronique</h6>
          <p>Adossée au département de Mécanique Avancée, la filière Mécatronique dispense une formation polyvalente axée autour de la mécanique, l’électronique et l’informatique.</p>
          <footer><a href="#"><i class="fas fa-arrow-right"></i></a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fab fa-sticker-mule"></i></a>
          <h6 class="heading">Génie Télécommunications Embarquées</h6>
          <p>Adossée au département Informatique Industrielle, la filière Télécommunications Embarquées (GTE) dispense une formation polyvalente axée autour de l’internet des objets.</p>
          <footer><a href="#"><i class="fas fa-arrow-right"></i></a></footer>
        </article>
      </li>
      <div class="two-articles">
        <li class="one_third">
          <article><a href="#"><i class="fas fa-user-secret"></i></a>
            <h6 class="heading">Génie Electronique Industrielle</h6>
            <p>Adossée au département Electronique Industrielle, la filière qui porte le même nom (EI) dispense une formation polyvalente axée autour de l’électronique, les systèmes électriques et l’informatique.</p>
            <footer><a href="#"><i class="fas fa-arrow-right"></i></a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fas fa-quidditch"></i></a>
            <h6 class="heading">Génie Mécanique & Productique</h6>
            <p>Adossée au département de Mécanique Avancée, la filière Mécanique et Productique dispense une formation polyvalente axée autour de la fabrication, matériaux, mécanique, conception, gestion, etc.</p>
            <footer><a href="#"><i class="fas fa-arrow-right"></i></a></footer>
          </article>
      </div>
      <!-- </li>
      <li class="one_third">
        <article><a href="#"><i class="fas fa-wheelchair"></i></a>
          <h6 class="heading">Génie Electronique Industrielle</h6>
          <p>Adossée au département Electronique Industrielle, la filière qui porte le même nom (EI) dispense une formation polyvalente axée autour de l’électronique, les systèmes électriques et l’informatique.</p>
          <footer><a href="#"><i class="fas fa-arrow-right"></i></a></footer>
        </article>
      </li> -->
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay " style="background-image:url('{% static 'app_users/images/demo/crowd1.jpeg' %}');"> 
  <section id="cta" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <h6 class="three_quarter first">Engagez dans la vie associative de l'école</h6>
    <footer class="one_quarter"><a class="btn" href="#">Parturient nascetur</a></footer>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section id="team" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">Clubs et associations</h6>
    </div>
    <ul class="nospace group">
      <li class="one_third first club-card">
        <article>
          <figure><a class="imgover" href="#"><img src="{% static 'app_users/images/demo/jee.jpg' %}" alt=""></a>
            <figcaption class="heading">Junior entreprise ENISo</figcaption>
          </figure>
          <em>Enseignement Théorique Et communications</em>
          <p>JEENISo, Junior Entreprise ENISo, est une association estudiantine professionnelle qui permet aux étudiants de mettre en pratique leur enseignement théorique.  [<a href="#">&hellip;</a>]</p>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-facebook" href="https://www.facebook.com/ENISo.junior.entreprise/"><i class="fab fa-facebook"></i></a></li>
              <li><a class="faicon-linkedin" href="https://www.linkedin.com/company/junior-entreprise-eniso?originalSubdomain=fr"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </footer>
        </article>
      </li>
      <li class="one_third club-card">
        <article>
          <figure><a class="imgover" href="#"><img src="{% static 'app_users/images/demo/aero.png' %}" alt=""></a>
            <figcaption class="heading">Aerotronix ENISo</figcaption>
          </figure>
          <em>Aéronautiques</em>
          <p>Le club Aerotronix vise à promouvoir l’aéromodélisme dans l’esprit des élèves ingénieurs, une discipline qui mélange la mécanique, l’électronique et l’informatique. [<a href="#">&hellip;</a>]</p>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-facebook" href="https://www.facebook.com/AertronixEniso/"><i class="fab fa-facebook"></i></a></li>
            </ul>
          </footer>
        </article>
      </li>
      <li class="one_third club-card">
        <article>
          <figure><a class="imgover" href="#"><img src="{% static 'app_users/images/demo/otce.jpeg' %}" alt=""></a>
            <figcaption class="heading">Orange Tech Club ENISo</figcaption>
          </figure>
          <em>Web Et Réseaux</em>
          <p>Orange Tech Club ENISo vise à former les étudiants et les accompagner dans la préparation à la vie professionnelle à travers des sessions de formations, des projets et des ateliers soft skills.[<a href="#">&hellip;</a>]</p>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-facebook" href="https://www.facebook.com/otc.eniso"><i class="fab fa-facebook"></i></a></li>
            </ul>
          </footer>
        </article>
      </li>
      <li class="one_third first club-card">
        <article>
          <figure><a class="imgover" href="#"><img src="{% static 'app_users/images/demo/acm.png' %}" alt=""></a>
            <figcaption class="heading">ACM ENISo</figcaption>
          </figure>
          <em>Programmation compétitive</em>
          <p>L'ACM ENISo a pour but de développer les connaissances en algorithmique avancée via une formation solide.[<a href="#">&hellip;</a>]</p>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-facebook" href="https://www.facebook.com/club.acm.eniso/"><i class="fab fa-facebook"></i></a></li>
              <li><a class="faicon-linkedin" href="https://www.linkedin.com/company/club-acm-eniso/about/"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </footer>
        </article>
      </li>
      <li class="one_third club-card">
        <article>
          <figure><a class="imgover" href="#"><img src="{% static 'app_users/images/demo/ieee.png' %}" alt=""></a>
            <figcaption class="heading">IEEE ENISo Student Branch</figcaption>
          </figure>
          <em></em>
          <p>L'IEEE, une association vouée à l'avancement de l'innovation et de l'excellence technologique au profit de l'humanité. C'est la plus grande société professionnelle technique au monde. [<a href="#">&hellip;</a>]</p>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-facebook" href="https://eniso.ieee.tn/"><i class="fas fa-globe"></i></a></li>
              <li><a class="faicon-facebook" href="https://www.facebook.com/ENISoSB/"><i class="fab fa-facebook"></i></a></li>
            </ul>
          </footer>
        </article>
      </li>
      <li class="one_third club-card">
        <article>
          <figure><a class="imgover" href="#"><img src="{% static 'app_users/images/demo/team.png' %}" alt=""></a>
            <figcaption class="heading">ENISo Team</figcaption>
          </figure>
          <em>Robotiques</em>
          <p>C'est une équipe de robotique crée au sein de l'école Nationale d'Ingénieurs de Sousse. [<a href="#">&hellip;</a>]</p>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-facebook" href="https://www.facebook.com/enisoteam"><i class="fab fa-facebook"></i></a></li>
            </ul>
          </footer>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section id="testimonials" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">News</h6>
    </div>
    <ul class="nospace group btmspace-80">
      <li class="one_third first">
        <blockquote>Au cours de leur scolarité à l’ENISo, les élèves ingénieurs mettent en pratique l’enseignement dispensé et s’initient aux métiers d’ingénieur à travers trois stages obligatoires.</blockquote>
        <figure class="clear"><img class="circle" src="{% static 'app_users/images/demo/60x60.png' %}" alt="">
          <figcaption>
            <h6 class="heading">Stages & PFE </h6>
            <em>Directeur Stage</em></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <blockquote>Lorem leo vel ligula vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; quisque urna velit accumsan bibendum scelerisque sed suscipit a velit duis nec ipsum</blockquote>
        <figure class="clear"><img class="circle" src="{% static 'app_users/images/demo/60x60.png' %}" alt="">
          <figcaption>
            <h6 class="heading">B. Doe</h6>
            <em>Director / Company Name</em></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <blockquote>Sed urna egestas consectetuer suspendisse lorem ut tortor est lobortis eu venenatis vitae pretium eu felis cras erat est cursus sed dignissim sed euismod in turpis praesent vestibulum hendrerit</blockquote>
        <figure class="clear"><img class="circle" src="{% static 'app_users/images/demo/60x60.png' %}" alt="">
          <figcaption>
            <h6 class="heading">C. Doe</h6>
            <em>Marketing / Company Name</em></figcaption>
        </figure>
      </li>
    </ul>
    <footer><a class="btn" href="#">View More &raquo;</a></footer>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">Ante duis eu dui semper</h6>
    </div>
    <ul class="nospace group latest">
      <li class="one_third first">
        <article>
          <time datetime="2045-04-06T08:15+00:00"><i class="far fa-calendar-alt rgtspace-5"></i> 06<sup>th</sup> April 2045 @ 15:00pm</time>
          <div class="excerpt">
            <h6 class="heading"><a href="#">Ante euismod viverra integer sagittis mauris facilisis</a></h6>
            <p>Dolor semper massa fusce condimentum elit sit amet est aenean dui suspendisse mattis aenean est massa vulputate eget eleifend ac consequat non velit vestibulum ante ipsum [<a href="#">&hellip;</a>]</p>
            <ul class="meta">
              <li><i class="fas fa-user rgtspace-5"></i> <a href="#">Admin</a></li>
              <li><i class="fas fa-tags rgtspace-5"></i> <a href="#">Tag 1</a>, <a href="#">Tag 2</a></li>
            </ul>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <time datetime="2045-04-05T08:14+00:00"><i class="far fa-calendar-alt rgtspace-5"></i> 05<sup>th</sup> April 2045 @ 14:00pm</time>
          <div class="excerpt">
            <h6 class="heading"><a href="#">Primis in faucibus orci luctus et ultrices posuere</a></h6>
            <p>Cubilia curae vivamus feugiat ultrices ligula cras nec risus in a nulla nam tempus odio in erat suspendisse potenti fusce eleifend maecenas tempus gravida lorem pellentesque [<a href="#">&hellip;</a>]</p>
            <ul class="meta">
              <li><i class="fas fa-user rgtspace-5"></i> <a href="#">Admin</a></li>
              <li><i class="fas fa-tags rgtspace-5"></i> <a href="#">Tag 1</a>, <a href="#">Tag 2</a></li>
            </ul>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <time datetime="2045-04-04T08:13+00:00"><i class="far fa-calendar-alt rgtspace-5"></i> 04<sup>th</sup> April 2045 @ 13:00pm</time>
          <div class="excerpt">
            <h6 class="heading"><a href="#">Justo maecenas sit amet mi nulla at erat adipiscing</a></h6>
            <p>Enim condimentum varius cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus suspendisse aliquam lacus vitae mauris blandit semper donec [<a href="#">&hellip;</a>]</p>
            <ul class="meta">
              <li><i class="fas fa-user rgtspace-5"></i> <a href="#">Admin</a></li>
              <li><i class="fas fa-tags rgtspace-5"></i> <a href="#">Tag 1</a>, <a href="#">Tag 2</a></li>
            </ul>
          </div>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->


{% endblock %}